<div class="container mb-5">
	<div class="row">
		
			{{ form_start(form) }}
			{{ form_row(form.firstName) }}
			{{ form_row(form.lastName) }}
			{{ form_row(form.phone) }}
			{{ form_row(form.email) }}
			{{ form_row(form.message) }}
			{{ form_rest(form) }}
			<button class="btn btn-secondary border-secondary btn-lg"><i class="bi bi-send me-2 align-middle"></i>Envoyer</button>
			{{ form_end(form) }}
		
	</div>